@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url(cssReset.css);

/* =============All============= */

*{
    font-family: "Roboto", "Arial";
}

/* =============Sections============= */

#introduction
{
    padding-top: 25vh;
    padding-left: 10vw;
    padding-bottom: 60vh;
    background-image: url("./Img/Img5.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 60%;
}

#info
{
    padding-left: 10vw;
    padding-right: 10vw;
}

footer
{
    background-color: rgba(164, 171, 206, 0.445);
    width: 100%;
}

#price
{
    background-color: #f3f4f5;
    width: 100%;
}

/* =============Navigation============= */

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    z-index: 100;
    gap: 10px;
    position:absolute;
}

.nav-first, .nav-second, .nav-third, .nav-space
{
    flex:.3;
    padding: 1em;
    color: rgb(95, 108, 170);
}

.nav-title
{
    flex: 1;
    padding: 1em;
    color: #42508b;
}

.nav-title > p
{
    font-weight: bolder;
    font-size: 1.75rem;
}

.nav-buy-button
{
    flex: 1;
    padding: 1em;
}

.nav-buy-button > button
{
    width: 200px;
    height: 2rem;
    font-size: 0.92rem;
}

/* =============Introduction============= */
.introduction-grid
{
    display: grid;
    grid-template-columns: 28vw;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap:20px;
}

.introduction-title
{
    display: flex;
    align-items: center;
}

.introduction-description
{
    color: rgb(58, 83, 165);
}

.introduction-buttons
{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    gap: 20px;
}

.introduction-pucharse-ui-button, .introduction-learn-more-button
{
    width: 190px;
    height: 2.4em;
}

/* =============Info============= */

/* ===Top Info Card=== */
.top-info-card
{
    display: grid;
    grid-template-columns: 35vw 1fr;
    grid-template-rows: 0.2fr 0.5fr 1fr;
    width: 100%;
}

.top-info-card-title
{
    display: flex;
    align-items: center;
}

.top-info-card-description
{
    color: rgb(65, 85, 150);
}

.top-info-inner-cards
{
    display: flex;
    justify-content: start;
    gap: 20px;
}

.inner-card
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inner-card > .cards-icons
{
    width: 40px;
    height: 40px;
}

.inner-card > p
{
    color: #42508b;
}

.top-info-card-image
{
    display: flex;
    align-items: center;
    justify-content: end;
    grid-area: 1 / 2 / span 3 / 2;
    margin-bottom: 20vh;
}

.top-info-card-image > img
{
    width: 100%;
}

.info-card-content > h2
{
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    color: #20284c;
}

/* ===Info Card=== */
.info-card
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    gap: 10vw;
    margin-bottom: 20vh;
}

.info-card-image
{
    flex:1;
}

.info-card-image > img
{
    width: 700px;
}

.info-card-content
{
    flex:0.8;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
}

.info-card-content > button
{
    margin-top: 20px;
    width: 160px;
    height: 2.4em;
}

.info-card-content > p
{
    color: rgb(65, 85, 150);
}

/* =============Price============= */
.price-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20vh;
}

.price-wave
{
    background-color: white;
    z-index: 10px;
}

.price-header{
    margin-bottom: 2em;
}

.price-description
{
    width: 35vw;
    color: rgb(65, 85, 150);
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.price-money
{
    font-size: 45px;
    color:#20284c;
    font-weight: bold;
}

.price-money-description
{
    color:#20284c;
    margin-bottom: 3em;
}

.price-buttons-description
{
    color:#20284c;
    margin-bottom: 2em;
}

.price-buttons > button
{
    width: 200px;
    height: 2.4em;
}

/* =============Footer============= */

.footer-grid
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10vh 20vw 5vh 20vw;
    row-gap: 2em;
}

.footer-copyright
{
    color: rgb(130, 130, 134);
    font-weight: 500;
}

.footer-line
{
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-line > hr
{
    width: 100%;
    height: 2px;
    border: none;
    background-color:#c0c6db;
}

.footer-nav
{
    display: flex;
    gap: 3.4em;
    color: #42508b;
    text-align: left;
}

.footer-header
{
    text-align: center;
}

.footer-header > h3
{
    font-size: 1.8em;
}

.footer-button
{
    text-align: right;
}

.footer-button > button
{
    text-align: center;
    width: 140px;
    height: 2.4em;
    font-size: 0.95rem;
}

.media
{
    display: flex;
    justify-content: right;
    gap: 1.6em;
}

.media svg
{
    color:rgb(130, 130, 134);
}

/* =============buttons============= */
.dark-button
{
    background-color: #20284c;
    color: white;
    border: 0;
    border-radius: 3px;
    font-weight:300;
}

.light-button
{
    background-color: white;
    color: #20284c;
    border: 2px solid #20284c;
    border-radius: 3px;
    font-weight: bold;
}

/* =============Headers============= */
h1
{
    width: 100%;
    font-size: 3.2rem;
    font-weight: bold;
    color: #20284c;
}

h2
{
    width: 100%;
    font-size: 2.2rem;
    font-weight: bold;
    color: #20284c;
}

h3
{
    color: #20284c;
}

/* =============links============= */

a{
    text-decoration: none;
}

a:active
{
    color: rgb(95, 108, 170);
}

a:link {
    color: rgb(95, 108, 170);
}

a:visited
{
    color: rgb(95, 108, 170);
}

@media(max-width:576px)
{
    body
    {
        background-color: antiquewhite;
    }

    .info-card-image > img
    {
        width: 300px;
    }
}