@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.colors
{
    color:#f0f2fb;
    color:#20284c;
    color: #42508b;
    color: rgb(95, 108, 170);
    color:#979db4;
    color:#c0c6db;
    color:#7c7c93;
    color:#b4b4c9;
    color:#7f848c;
    color:#d4d4e9;
    color:#b4bcbc;
}

/* =============Clearing styles============= */

*{
    font-family: "Roboto", "Arial";
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

/* =============Sections============= */

#introduction
{
    padding-top: 25vh;
    padding-left: 21vh;
}

#info
{
    margin-top: 50vh;
    padding-left: 21vh;
}

/* =============Navigation============= */

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    z-index: 100;
    gap: 10px;
}

.nav-first, .nav-second, .nav-third, .nav-space
{
    flex:.3;
    padding: 1em;
    color: rgb(95, 108, 170);
}

.nav-title
{
    flex: 1;
    padding: 1em;
    color: #42508b;
}

.nav-title > p
{
    font-weight: bolder;
    font-size: 1.5em;
}

.nav-buy-button
{
    flex: 1;
    padding: 1em;
}

.nav-buy-button > button
{
    width: 200px;
    height: 2rem;
}

/* =============Introduction============= */
.introduction-grid
{
    display: grid;
    grid-template-columns: 24vw;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap:20px;
}

.introduction-title
{
    display: flex;
    align-items: center;
}

.introduction-title > h1
{
    width: 100%;
    font-size: 42px;
    font-weight: bold;
    color: #20284c;
}

.introduction-description
{
    color: rgb(58, 83, 165);
}

.introduction-buttons
{
    display: flex;
    justify-content: start;
    gap: 20px;
}

.introduction-pucharse-ui-button, .introduction-learn-more-button
{
    width: 160px;
    height: 2.4em;
}

/* =============Info============= */

/* ===Top Info Card=== */
.top-info-card
{
    display: grid;
    grid-template-columns: 35vw 40vw;
    grid-template-rows: 0.2fr 0.5fr 1fr;
}

.top-info-card-title
{
    display: flex;
    align-items: center;
}

.top-info-card-title > h2
{
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    color: #20284c;
}

.top-info-card-description
{
    color: rgb(65, 85, 150);
}

.top-info-inner-cards
{
    display: flex;
    justify-content: start;
    gap: 20px;
}

.inner-card
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inner-card > .cards-icons
{
    width: 40px;
    height: 40px;
}

.top-info-card-image
{
    display: flex;
    align-items: center;
    justify-content: end;
    grid-area: 1 / 2 / span 3 / 2;
    margin-bottom: 20vh;
}

.top-info-card-image > img
{
    width: 100%;
}

.info-card-content > h2
{
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    color: #20284c;
}

/* ===Info Card=== */
.info-card
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    gap: 20vh;
    margin-bottom: 20vh;
}

.info-card-image > img
{
    height: 300px;
    flex:1;
}

.info-card-content
{
    flex:0.5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-card-content > button
{
    margin-top: 20px;
    width: 160px;
    height: 2.4em;
}


/* =============buttons============= */
.dark-button
{
    background-color: #20284c;
    color: white;
    border: 0;
    border-radius: 3px;
    font-weight:300;
}

.light-button
{
    background-color: white;
    color: #20284c;
    border: 2px solid #20284c;
    border-radius: 3px;
    font-weight: bold;
}